<div class="jumbotron">
    <div class="container-fluid">
        <div class="row table-view">
            <div class="col-md-12">
                    <header class="row tableView-header">
                        <span class="pull-left col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <h4>Trader desktop</h4> 
                        </span>
                        <span class="pull-right col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right right-section">
                            <span class="font-italic" data-ng-bind="dc.username.name"></span> 
                            <a class="signout-link" data-ng-click="dc.deleteSession()">Signout</a>
                        </span>
                    </header>   
                    <div class="row btn-row">
                        <span class="pull-left col-lg-6 col-md-6 col-sm-8 col-xs-12">
                            
                                <div class="btn operation-btn sharp-border color-bright bg-black" data-toggle="modal" data-target="#createOrderModal">Trade</div>
                            
                            <div class="btn operation-btn sharp-border color-bright bg-black" data-ng-click="dc.deleteOrderRequest()">Delete All</div>
                            <div class="btn operation-btn sharp-border color-bright bg-black" data-ng-click="dc.getOrderRequest()">Refresh</div>
                        </span>
                        <span class="pull-right col-lg-6 col-md-6 col-sm-4 col-xs-12 text-right">
                            <button class="btn btn-icon"><i class="glyphicon glyphicon-stats"></i></button>
                            <button class="btn btn-icon"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> 
                    </div> 
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table bg-white ordertable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th class="text-right">Creation Time</th>
                                            <th class="text-right">Side</th>
                                            <th class="text-right">Symbol</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Placed</th>
                                            <th class="text-right">Executed</th>
                                            <th class="text-right">Limit price</th>
                                            <th class="text-right">Priority</th>
                                            <th class="text-right">Status</th>
                                            <th class="text-right">Trader</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr data-ng-repeat = "data in dc.listOfOrder">
                                            <td>{{ data.id }}</td>
                                            <td class="text-right">{{ data.creationTime }}</td>
                                            <td class="text-right">{{ data.side }}</td>
                                            <td class="text-right">{{ data.symbol }}</td>
                                            <td class="text-right">{{ data.quantity }}</td>
                                            <td class="text-right">{{ data.quantityPlaced }}</td>
                                            <td class="text-right">{{ data.quantityExecuted }}</td>
                                            <td class="text-right">{{ data.limitPrice }}</td>
                                            <td class="text-right">{{ data.priority }}</td>
                                            <td class="text-right">{{ data.status }}</td>
                                            <td class="text-right">{{ data.traderId }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal - Create order -->
                    <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <form data-ng-submit="dc.createOrderRequest()">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" aria-label="Close" data-ng-click="dc.resetNumberOfTrade()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Create Multiple Trades</h4>
                              </div>
                              <div class="modal-body">
                                <p>Enter number of trades</p>
                                <input type="number" min="1" data-ng-model="dc.numberOfTrade" required/>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-default" data-ng-click="dc.resetNumberOfTrade()">Cancel</button>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div><!-- modal -->
                </div><!-- main -->
        </div>
    </div>
</div>