<!--
#	Author : Manoj Pandey
#	Date : 16th Feb 2015
#	Description : Login template
-->
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>Login</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<form role="form">
					<div class="dropdown">
						<select name="users" class="form-control input-small scrollable-menu" data-ng-model="lc.user" ng-options = "opt.name for opt in lc.listOfUser" required>
							<option value="">Select Username</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12">
				<div class="login-btn-wrap">
					<button class="btn col-md-2 col-xs-12 bg-black color-bright sharp-border" data-ng-click="lc.createSession()">Login</button>
				</div>
			</div>	
		</div>
	</div>
</div>