/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-border:                   #EEEEEE;
$color-soft:                     #AAAAAA;

$color-bright:					 #FFFFFF; 


/* ----- Typography ----- */
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/* ----- Background Colors ----- */
$background-black:               #000000;

$height25 : 25px;